.Weather {
    border:5px solid #0B5ED7;
    border-radius: 4px;
  
  margin: 20px;
    padding: 60px;
    color: white;
    background-image: url(./clouds.jpg);
    background-repeat: no-repeat;
    text-align: left;
}

.Weather h1{
  margin: 0 0 10px 0;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
    color: white;
    list-style: none;

}

.Weather img {
  float: left;
  height:70px;
}

.Weather .temperature {
  font-size: 50px;
  line-height: 70px;
  font-weight: bold;
}

.Weather .unit {
  top: -28px;
  font-size: 16px;
  position: relative;
}