.Weather {
    border:5px solid blue;
    border-radius: 4px;
    max-width: 800px;
  margin: 20px;
    padding: 60px;
    color: white;
    background-color: rgb(59, 59, 59);
    text-align: left;
}

.Weather h1{
  margin: 20px 0 0 0;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
    color: white;
    list-style: none;

}
